services:
  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - http
      - socket

  http:
    container_name: http-api
    build:
      context: .
      dockerfile: apps/http/Dockerfile
    expose:
      - "3000"
    env_file:
      - .env.prod

  socket:
    container_name: socket-server
    build:
      context: .
      dockerfile: apps/socket/Dockerfile
    expose:
      - "5000"
    env_file:
      - .env.prod